.error-message {
    color: #FF5555;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    /* 左右のセクションの間にスペースを追加 */
    max-width: 1540px;
    /* 最大横幅を1540pxに制限 */
    padding: 70px 70px;
    /* 余白を調整 */
}

.left-section,
.right-section {
    width: 47%;
    /* 左右にバランスよく幅を取る */
}

.product-image img {
    width: 100%;
}

.product-details h1 {
    font-size: 45px;
    margin: 0;
}

.brand-name {
    font-size: 20px;
    margin: 10px 0 10px 0
}

.price {
    font-size: 45px;
    margin: 10px 0 10px 0
}

.like-comment-group {
    display: flex;
    gap: 50px;
    /* like-countとcomment-countの間隔 */
    align-items: center;
    /* アイコンとテキストを中央揃えに */
    margin-left: 30px;
}

h2 {
    font-size: 36px;
}

.like-count {
    display: flex;
    align-items: center;
    gap: 0.5em;
    /* アイコンと数値の間隔 */
}

.like-button {
    padding: 0;
    background-color: #FFF;
    border: none;
}

.like-count p {
    margin: 0;
    font-family: "Noto Sans JP", sans-serif;
    font-size: 16px;
}

.comment-count {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* 縦並び */
    align-items: center;
    /* 中央揃え */
}

.comment-count p {
    margin: 0;
}


/* ボタン風に見せるためのスタイル */
.category-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    /* カテゴリ同士の間隔 */
}

.category-items {
    display: flex;
    /* 必要に応じて、縦または横に並べる */
    flex-wrap: wrap;
    /* 折り返しを可能にする */
    margin: 5px 0 20px 0;
    /* ラベルとの間にスペースを追加 */
    gap: 10px;
    margin: 0 0 20px 40px;
}

.category-item {
    padding: 5px 10px;
    /* 内部スペースの設定 */
    margin-right: 5px;
    /* カテゴリー項目間のスペース */
}

.category-item {
    padding: 0px 20px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    background-color: #D9D9D9;
    color: #000000;
    font-size: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.proceed-purchase-btn {
    width: 100%;
    /* 親要素の幅に合わせる */
    padding: 10px;
    /* 内側の余白 */
    margin: 30px 0 20px 0;
    color: #FFF;
    background-color: #FF5555;
    font-family: "Noto Sans JP", sans-serif;
    font-size: 30px;
    border: none;
    font-weight: 700;
    cursor: pointer;
}

.product-label {
    font-weight: 700;
    font-size: 24px;
}

.description {
    font-size: 24px;
}

.condition-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    /* ラベルと状態の間隔 */
}

.condition {
    font-size: 20px;
    margin: 0 0 0 40px;
}

.comment-label {
    color: #5F5F5F;
}

.comment {
    display: flex;
    align-items: center;
    margin: 10px 0;
    /* Add some space between the image and the button */
}

.current-profile-image {
    max-width: 70px;
    max-height: 70px;
    border-radius: 50%;
    /* 画像を丸く切り取る */
    object-fit: cover;
    /* 画像を枠内に収めて表示 */
    margin-right: 10px;
    /* img と p の間のスペース */
}

.comment-user {
    font-weight: 700;
    font-size: 30px;
}

.comment-text {
    background-color: #E5E5E5;
    padding: 10px 10px;
    font-size: 20px;
}

h3 {
    font-size: 28px;
}

.comment-input {
    width: 100%;
    height: 200px;
    font-size: 20px;
}

.submit-comment-btn {
    width: 100%;
    /* 親要素の幅に合わせる */
    padding: 10px;
    /* 内側の余白 */
    margin: 30px 0 20px 0;
    color: #FFF;
    background-color: #FF5555;
    font-family: "Noto Sans JP", sans-serif;
    font-size: 25px;
    border: none;
    font-weight: 700;
    cursor: pointer;
}