/* すべての要素にボックスサイズを指定 */
*,
*::before,
*::after {
    box-sizing: border-box;
}

.wrapper {
    max-width: 1540px;
    margin: 0 auto;
    padding: 0 25px;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.profile-edit {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    border-radius: 8px;
    text-align: left;
}

.profile-edit h1 {
    text-align: center;
}

.profile-image-group {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 40px;
}

.current-profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-image-upload {
    display: inline-block;
    padding: 5px 15px;
    background-color: #FFF;
    color: #FF5555;
    border: 2px solid #FF5555;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.profile-image-upload:hover {
    color: #FFF;
    background-color: #FF5555;
}

.placeholder-profile-image {
    width: 150px;
    height: 150px;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 20px;
}

.error-message {
    margin-bottom: 30px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-label {
    margin-bottom: 5px;
    font-weight: 700;
}

.form-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
}

.primary-btn {
    width: 100%;
    padding: 10px;
    margin: 30px 0 20px 0;
    color: #FFF;
    background-color: #FF5555;
    font-family: "Noto Sans JP", sans-serif;
    font-size: 16px;
    border: none;
    font-weight: 700;
    cursor: pointer;
}